h2 {
    background-color: aqua;
    text-align: center;
}

body {
    background-color: lightblue;
}

h3 {
    background-color: #7CB9E8;
    text-align: center;
}

h1 {
    background-color: #eec0c8;
    text-align: center;
}